<div class="row wow animated fadein">
    <div class="col-md-6 mb-4 white-text text-center text-md-left">
        <h1 class="display-4">Password-<b>less</b> Authentication</h1>
        <hr class="hr-light">
        <p>A web-based application that requires you to register and login using only an email. Upon registration, we
            will automatically generate a unique device fingerprint and tie it securely with your account. 🔒</p>
        <p class="mb-4 d-none d-md-block">
            <strong>Start enjoying the ease and convenience of a password-less account and <b><a routerLink="../register">register</a></b>
                with us today!</strong>
        </p>
    </div>
    <div class="col-md-6 col-xl-5 mb-4 animated fadeInUp">
        <div class="form-gradient">
            <!--Form with header-->
            <mdb-card>
                <!--Header-->
                <div class="header pt-3 blue-gradient">

                    <div class="row d-flex justify-content-center">
                        <h3 class="white-text mb-3 pt-3 font-weight-bold">Log in</h3>
                    </div>

                    <!-- Social Media Icons-->
                    <div class="row mt-2 mb-3 d-flex justify-content-center">
                        <!--Facebook-->
                        <a class="fa-lg p-2 m-2 fb-ic">
                            <mdb-icon icon="facebook" class="white-text" size="lg"></mdb-icon>
                        </a>
                        <!--Twitter-->
                        <a class="fa-lg p-2 m-2 tw-ic">
                            <mdb-icon icon="twitter" class="white-text" size="lg"></mdb-icon>
                        </a>
                        <!--Google +-->
                        <a class="fa-lg p-2 m-2 gplus-ic">
                            <mdb-icon icon="google-plus" class="white-text" size="lg"></mdb-icon>
                        </a>
                    </div>
                    <!-- Social Media Icons-->

                </div>
                <!--Header-->

                <mdb-card-body class="mx-4 mt-4">
                    <!--Login Field-->
                    <div class="md-form pb-1 pb-md-3" [formGroup]="form">
                        <input type="text" formControlName="formInputEmail" class="form-control" mdbInputDirective>
                        <label for="formInputEmail">Your email</label>
                    </div>
                    <!--Login Field-->

                    <!--Grid row-->
                    <div class="row d-flex align-items-center mb-4">
                        <!-- Login Button -->
                        <!--Grid column-->
                        <div class="col-md-12 mb-3">
                            <div class="text-center">
                                <a class="btn btn-login text-white btn-block" (click)="loginBtn()">Log in</a>
                            </div>
                        </div>
                        <!--Grid column-->
                        <!-- Login Button -->

                        <!--Grid column-->
                        <div class="col-md-12">
                            <p class="font-small grey-text d-flex justify-content-end mt-3">Don't have an account?
                                <a class="dark-grey-text ml-1 font-weight-bold" routerLink="../register"> Sign up</a>
                            </p>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->
                </mdb-card-body>
            </mdb-card>
            <!--/Form with header-->

        </div>
    </div>
</div>