.view {
	background-size: cover;
  height: 100vh;
  width: 100%;
}

.navbar {
	background-color: transparent;
}

.top-nav-collapse {
	background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #4285F4;
	}
}

.video-fluid {
  width: 100%;
}
