/* You can add global styles to this file, and also import other style files */

.form-gradient .font-small {
	font-size: 0.8rem;
	background-color: transparent;
}

.form-gradient .header {
	border-top-left-radius: .2rem;
	border-top-right-radius: .2rem;
}

.form-gradient input[type=text]:focus:not([readonly]) {
	border-bottom: 1px solid #298fcc;
	-webkit-box-shadow: 0 1px 0 0 #298fcc;
	box-shadow: 0 1px 0 0 #298fcc;
}

.form-gradient input[type=text]:focus:not([readonly])+label {
	color: #4f4f4f;
}

.form-gradient input[type=password]:focus:not([readonly]) {
	border-bottom: 1px solid #298fcc;
	-webkit-box-shadow: 0 1px 0 0 #298fcc;
	box-shadow: 0 1px 0 0 #298fcc;
}

.form-gradient input[type=password]:focus:not([readonly])+label {
	color: #4f4f4f;
}

.btn {
	font-family: 'Montserrat', sans-serif;
	flex: 1 1 auto;
	padding: 18px;
	text-align: center;
	text-transform: uppercase;
	transition: 0.5s;
	background-size: 200% auto;
	color: white;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	box-shadow: 0 0 20px #eee;
	border-radius: 50px;
}

.btn:hover { background-position: right center; }
.btn-login:active { background: #2196f3; }
.btn-login { background-image: linear-gradient(to right, #5695fc 0%, #66ccfb 51%, #5695fc 100%); }
.btn-register { background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%); }
.btn-register:active { background: #fda085; }

.table-wrapper-scroll-y {
    display: block;
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.custom-control,
.custom-control-radio,
.custom-control-label,
.custom-control-input {
    cursor: pointer;
}

canvas {
    display: none;
}
