<div class="row animated fadein">

    <div class="col-md-6 mb-4 white-text text-center text-md-left">
        <h1 class="display-4">Simplicity.</h1>
        <hr class="hr-light">
        <p>Fill in your email, and select your security preference to login in the future.</p>

        <table class="table table-responsive table-bodered table-striped">
            <tbody>
                <tr>
                    <td>High</td>
                    <td>Every device component must match</td>
                </tr>
                <tr>
                    <td>Medium</td>
                    <td>A 75% match whereby different set of plugins on the same browser will be prevented from login</td>
                </tr>
                <tr>
                    <td>Low</td>
                    <td>Using different browsers on the same machine will be allowed</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-md-6 col-xl-5 mb-4 animated fadeInUp">
        <div class="form-gradient">
            <!--Form with header-->
            <mdb-card>
                <!--Header-->
                <div class="header pt-3 pb-3 peach-gradient">
                    <div class="row d-flex justify-content-center">
                        <h3 class="white-text mb-3 pt-3 font-weight-bold">Sign Up</h3>
                    </div>
                </div>
                <!--Header-->

                <mdb-card-body class="mx-4 mt-4">
                    <!--Sign Up Field-->
                    <div class="md-form" [formGroup]="form">
                        <i class="fa fa-envelope prefix"></i>
                        <input type="text" id="formInputEmail" formControlName="formInputEmail" class="form-control"
                            mdbInputDirective>
                        <label for="formInputEmail">Your email</label>
                    </div>
                    <!--Sign Up Field-->

                    <!-- Security Level -->
                    <div class="pb-4">
                        <div class="mb-2">Security Level:</div>
                        <div class="custom-control custom-radio ml-4">
                            <input type="radio" class="custom-control-input" id="formInputRadioHigh" value="3" name="securityLevel">
                            <label class="custom-control-label" for="formInputRadioHigh">High</label>
                        </div>
                        <div class="custom-control custom-radio ml-4">
                            <input type="radio" class="custom-control-input" id="formInputRadioMed" value="2" name="securityLevel">
                            <label class="custom-control-label" for="formInputRadioMed">Medium</label>
                        </div>
                        <div class="custom-control custom-radio ml-4">
                            <input type="radio" class="custom-control-input" id="formInputRadioLow" value="1" name="securityLevel"
                                checked>
                            <label class="custom-control-label" for="formInputRadioLow">Low</label>
                        </div>
                    </div>
                    <!--Security Level-->

                    <!--Grid row-->
                    <div class="row d-flex align-items-center mb-4">
                        <!-- Sign Up Button -->
                        <div class="col-md-12 mb-3">
                            <div class="text-center">
                                <a class="btn btn-register text-white btn-block" (click)="registerBtn()">Sign Up</a>
                            </div>
                        </div>
                        <!-- Sign Up Button -->
                    </div>
                    <!--Grid row-->
                </mdb-card-body>
            </mdb-card>
            <!--/Form with header-->

        </div>
    </div>
</div>
<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="large" color="#fff" type="pacman"></ngx-spinner>